{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link href="{% static 'login/css/all.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'login/css/login.css' %}" rel="stylesheet" type="text/css">
</head>

<script>
    function login() {
        if ($("#username").val().length == 0) {
            alert("유저명을 입력하세요.");
            $("#username").focus();
            return false;
        }
        if ($("#password").val().length == 0) {
            alert("비밀번호를 입력하세요.");
            $("#password").focus();
            return false;
        } else {
            loginForm.submit();
        }
    }
</script>

<body>
    <header>
        <div class="nav_holder"></div>
    </header>

    <article>
        <div class="login_wrap">
            <div class="login_title">
                CNU 크롤러
            </div>
            <div class="login_box">
                <form method="POST" , action="{% url 'login'%}">
                    {% csrf_token %}
                    <input type="text" id="username" name="username" placeholder="아이디">
                    <br>
                    <input type="password" name="password" name="password" placeholder="비밀번호">
                    <br>
                    <button class="submit_btn" type="submit">로그인</button>
                    <br>
                </form>
                <div class="sub_menu">
                    <ul>
                        <li><a href="{% url 'signup' %}">회원가입</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </article>
</body>

</html>