{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link href="{% static 'login/css/all.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'login/css/login.css' %}" rel="stylesheet" type="text/css">

    <script>
        function allnumeric(txt) {
            var numbers = /^[0-9]+$/;
            if (txt.match(numbers)) {
                return true;
            } else {
                return false;
            }
        }

        function signin() {
            if ($("#username").val().length == 0) {
                alert("유저명을 입력하세요.");
                $("#username").focus();
                return false;
            }
            if ($("#password").val().length == 0) {
                alert("비밀번호를 입력하세요.");
                $("#password").focus();
                return false;
            }
            if ($("#pw_confirm").val().length == 0) {
                alert("확인을 위해 비밀번호를 한번 더 입력하세요.");
                $("#pw_confirm").focus();
                return false;
            }
            if ($("#id_portal").val().length != 9) {
                alert("학번 9자리를 입력하세요.");
                $("#id_portal").focus();
                return false;
            }
            if (!allnumeric($("#id_portal").val())) {
                alert("학번 9자리를 입력하세요.");
                $("#id_portal").focus();
                return false;
            }
            if ($("#pw_portal").val().length == 0) {
                alert("portal.cnu.ac.kr의 PW를 입력하세요.");
                $("#pw_portal").focus();
                return false;
            } else {
                signupForm.submit();
            }
        }
    </script>

</head>

<body>
    <style>
        article {
            height: -webkit-calc(80%);
            height: -moz-calc(80%);
            height: calc(80%);
        }
    </style>
    <header style="height:20%;">
        <div class="nav_holder"></div>
    </header>

    <article>
        <div class="login_wrap">
            <div class="login_title">
                CNU 크롤러
            </div>
            <div class="limiter">
                <div class="container-login100">
                    <div class="wrap-login100 p-t-50 p-b-90">
                        <form name=signupForm method="POST" action="{% url 'signup'%}">
                            {% csrf_token %}
                            <div class="wrap-input100 validate-input m-b-16" data-validate="Username is required">
                                <input type="text" id="username" name="username" placeholder="유저명">
                            </div>
                            <div class="wrap-input100 validate-input m-b-16" data-validate="Password is required">
                                <input type="password" id="password" name="password" placeholder="비밀번호">
                            </div>
                            <div class="wrap-input100 validate-input m-b-16" data-validate="Confirm is required">
                                <input type="password" id="pw_confirm" name="pw_confirm" placeholder="비밀번호 확인">
                            </div>
                            <div class="wrap-input100 validate-input m-b-16" data-validate="ID for portal is required">
                                <input type="text" id="id_portal" name="id_portal" placeholder="포탈 ID, 학번을 입력해주세요.">
                            </div>
                            <div class="wrap-input100 validate-input m-b-16" data-validate="Password for portal is required">
                                <input type="password" id="pw_portal" name="pw_portal" placeholder="포탈 PW를 입력해주세요.">
                            </div>
                            <div class="container-login100-form-btn m-t-17">
                                <button type="button" onclick="signin()" class="refresh_btn login100-form-btn submit_btn">
                                    가입!
                                </button>
                            </div>
                        </form>
                    </div>
                    </form>
                </div>
            </div>
            <div class="loading_box">
                <div class="loading_window">
                    <div class="loading_text">Loading</div>
                    <div class="long_time_text">지연되고 있습니다. 잠시만 기다려주세요.</div>
                </div>
            </div>
    </article>
    <script src='{% static "login/vendor/jquery/jquery-3.2.1.min.js" %}'></script>
    <script src='{% static "login/vendor/animsition/js/animsition.min.js" %}'></script>
    <script src='{% static "login/vendor/bootstrap/js/popper.js" %}'></script>
    <script src='{% static "login/vendor/bootstrap/js/bootstrap.min.js" %}'></script>
    <script src='{% static "login/vendor/select2/select2.min.js" %}'></script>
    <script src='{% static "login/vendor/daterangepicker/moment.min.js" %}'></script>
    <script src='{% static "login/vendor/daterangepicker/daterangepicker.js" %}'></script>
    <script src='{% static "login/vendor/countdowntime/countdowntime.js" %}'></script>
    <script src='{% static "login/js/main.js" %}'></script>

    <script>
        const refresh_btn = document.querySelector(".refresh_btn");

        function loading() {
            const loading_text = document.querySelector(".loading_text");
            const long_time_text = document.querySelector(".long_time_text");
            let i = 0;
            let dot = ".";
            let text = "Loading";
            let time = 0;

            setInterval(function() {
                if (i !== 4) {
                    i++;
                } else {
                    i = 0;
                }
                let printText = text;
                for (k = 0; k < i; k++) {
                    printText = printText + dot;
                }

                loading_text.innerText = printText;
            }, 700);

            setInterval(function() {
                if (time !== 20) {
                    time++;
                } else {
                    long_time_text.style.display = "block";
                }
            }, 1000)
        }

        function refresh_btn_handler() {
            refresh_btn.addEventListener("click", function(e) {
                document.querySelector(".loading_box").style.display = "flex";
                loading();
            });
        }

        refresh_btn_handler();
    </script>
</body>

</html>