{% block content %}
<div clas='container'>
	<h1>Sign in</h1>

	<form action="">
		Username:
		<br>
		<input name="username" type="text">
		<br>
		Password:
		<br>
		<input name="password" type="password">
		<br>
		Confirm Password:
		<br>
		<input name="confirm password" type="password">
		<br>
		ID of portal.cnu.ac.kr:
		<br>
		<input name="ID of portal" type="text">
		<br>
		PW of portal.cnu.ac.kr:
		<br>
		<input name="PW of portal" type="password">
		<br><br>
		<input type="submit" class="btn btn-primary" value="sign up">
	</form>
</div>
{% endblock %}
