{% block content %}
<div clas='container'>
	<h1>Sign Up</h1>

	<form method="POST" action="{%url 'signup'%}">
		{% csrf_token %}
		Username:
		<br>
		<input name="username" type="text">
		<br>
		Password:
		<br>
		<input name="password" type="password">
		<br>
		Confirm Password:
		<br>
		<input name="pw_confirm" type="password">
		<br>
		ID of portal.cnu.ac.kr:
		<br>
		<input name="id_portal" type="text">
		<br>
		PW of portal.cnu.ac.kr:
		<br>
		<input name="pw_portal" type="password">
		<br><br>
		<input type="submit" class="btn btn-primary" value="sign up">
	</form>
</div>
{% endblock %}
