<!DOCTYPE html>
<html lang="en">
<head>
  <title>CNU Crawler</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <h1>{{user.username}}</h1> 
    <h3>{{elearn.profile.last_update}}</h3>
    <form method="POST" action="{% url 'elearn'%}">
        {% csrf_token %}
        <div style='width:80px;float: right;'>
            <input type="submit" class="btn btn-primary" value="Refresh">
        </div>
        <div>
            <a href="{% url 'setting' %}" class="txt1">🛠계정설정</a>
            <a href="{% url 'logout' %}" class="txt1">👋로그아웃</a>
            <a href="https://open.kakao.com/o/sLFynyic" class="txt1">👾버그리포트</a>
            <a href="https://github.com/Yabby1997/CNU-CSE-Crawler-WEB" class="txt1">👨‍💻GitHub</a>
        </div>
    </form>
    <table class="table table-striped">
        <thead>
            <tr>
                <td><B>과목</B></td>
                <td><B>진도</B></td>
                <td><B>출석완료</B></td>
                <td><B>진행중</B></td>
                <td><B>미진행</B></td>
                <td><B>학습시작전</B></td>
                <td><B>미출석</B></td>
                <td><B>제출</B></td>
                <td><B>미제출</B></td>
            </tr>
        </thead>
        <tbody>
            {% for class in elearn.classes %}
            <tr>
                <td>{{class.title}}</td>
                <td>{{class.percentage}}</td>
                <td>{{class.video0}}</td>
                <td>{{class.video1}}</td>
                <td>{{class.video2}}</td>
                <td>{{class.video3}}</td>
                <td>{{class.video4}}</td>
                <td>{{class.report0}}</td>
                <td>{{class.report1}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <table class="table table-striped">
        <thead>
            <tr>
                <td><B>들어야 하는 강의</B></td>
            </tr>
        </thead>
        <tbody>
            {% for video in elearn.videos %}
            <tr>
                <td>{{video}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <table class="table table-striped">
        <thead>
            <tr>
                <td><B>해야 하는 과제</B></td>
            </tr>
        </thead>
        <tbody>
            {% for report in elearn.reports %}
            <tr>
                <td>{{report}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>